In [1]:
%matplotlib inline
import seaborn as sns
import pandas as pd

In [3]:
df = pd.read_csv("exam_scores.csv")
df.head()

,exam_score,hours_studied,study_strategy,handedness,coffee_consumed,hours_slept
0,100.591011,9.126291,flashcards,left,0,11
1,95.637086,9.677438,flashcards,left,1,10
2,53.200296,4.550207,NaN,right,5,6
3,63.934268,6.487848,flashcards,right,4,7
4,51.186370,6.720959,flashcards,right,5,6

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
exam_score         40 non-null float64
hours_studied      40 non-null float64
study_strategy     20 non-null object
handedness         40 non-null object
coffee_consumed    40 non-null int64
hours_slept        40 non-null int64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.0+ KB

In [7]:
df.study_strategy.value_counts(dropna=False)

flashcards    20
NaN           20
Name: study_strategy, dtype: int64

In [9]:
df.study_strategy = df.study_strategy.fillna("Winged It")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
exam_score         40 non-null float64
hours_studied      40 non-null float64
study_strategy     40 non-null object
handedness         40 non-null object
coffee_consumed    40 non-null int64
hours_slept        40 non-null int64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.0+ KB